<section>
    <mat-toolbar color="primary">
        <mat-list class="nav-list">
            <mat-list-item>
              <button mat-button><i class="fas fa-home"></i><a mat-line routerLink="/"> Home</a></button>
            </mat-list-item>
            <mat-list-item>
              <a mat-line routerLink="/about">About</a>
            </mat-list-item>
            <mat-list-item>
              <a mat-line routerLink="/contact">Contact</a>
            </mat-list-item>
        </mat-list>
    </mat-toolbar>
</section>